<div class="container">
    <header>
        <nav>
            <ul class="nav-items">
                <li><a routerLink="home" routerLinkActive="active">Home</a></li>
                <li><a routerLink="aboutus" routerLinkActive="active">About</a></li>
                <li><a routerLink="register" routerLinkActive="active">Register</a></li>
                <li><a routerLink="login" routerLinkActive="active">Login</a></li>
                <li><a routerLink="feedback" routerLinkActive="active">Feedback</a></li>
                <li><a routerLink="logout" routerLinkActive="active">Logout</a></li>
            </ul>
        </nav>
    </header>
    <section class="hero">
        <div class="hero-content">
            <h2>Your Health, Our Priority <font color="red">&#10009;</font></h2>
            <p>Connect with certified doctors anytime, anywhere.</p>
            <p>Your Trusted Online Healthcare Partner.</p>
            <br>
            <a routerLink="register" routerLinkActive="active" class="cta-button">Get Started</a>
        </div>
    </section>
    <section class="services">
        <h2>Our Services</h2>
        <div class="services-grid">
            <div class="service" style="background-color: #0fdd16;">
                <h3><i>24/7 Consultations</i></h3>
                <p><b>Talk to a doctor anytime, day or night.</b></p>
            </div>
            <div class="service" style="background-color: #e5566d;">
                <h3><i>Mental Health Support</i></h3>
                <p><b>Access online therapy and counseling.</b></p>
            </div>
            <div class="service" style="background-color: #14a3c7;">
                <h3><i>Prescription Services</i></h3>
                <p><b>Get prescriptions from licensed professionals.</b></p>
            </div>
        </div>
        </section>
        <footer class="footer">
           <p>&copy; 2024 E-Doctor Platform. All Rights Reserved.</p>
        </footer>
</div>
